<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Noodle NG</title>
  <script type="text/javascript" src="/js/MochiKit/MochiKit.js"></script>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/jquery.tree.js"></script>
  <script type="text/javascript" src="/js/browseHost.js"></script>
  <link type="text/css" rel="stylesheet" href="/css/jquery.tree.css"/>
</head>

<body>
<h1>BrowseHost:</h1>

<div id="container">
	<h1 class="title">Async JSON demo</h1>
	<p>Same as with the HTML datastore you can load data from a file.</p>

	<div class="demo" id="async_json_1"></div>
</div>

</body>
</html>