<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
      
<h2>Recent Changes</h2>
<ul>
    <li>Rev 9 (20.07.2010 - moschlar)</li>
    <ul>
        <li>SystemPing(ip) über Python-Sockets, nicht über Systemaufruf ping</li>
    </ul>
    <li>Rev 6 (20.06.2010 - moschlar)</li>
    <ul>
        <li>ChangeLog auf der Startseite anzeigen</li>
        <li>makePretty gemäß aktueller Definition von MiB usw. aktualisiert</li>
    </ul>
    <li>Rev 5 (18.06.2010 - moschlar)</li>
    <ul>
        <li>type:folder als möglichen Suchtyp hinzugefügt</li>
        <li>search_form um die Auswahlmöglichkeiten type:file und type:folder erweitert</li>
        <li>FAQ erweitert und ein Inhaltsverzeichnis hinzugefügt</li>
    </ul>
    <li>Rev 4 (18.06.2010 - moschlar)</li>
    <ul>
        <li>type:file als möglichen Suchtyp hinzugefügt</li>
        <li>Schreibfehler in type:multimedia gefixed</li>
    </ul>
</ul>

</html>
