<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
  <title>Debugging template</title>
</head>

<body>
    <h1>Search tests:</h1>
    <div py:for="(query,time,s) in results">
        <div><strong>${query}: </strong>${time}</div>
        <span py:if="time != 0"><div py:for="i in s">${i.name}</div></span>
        <span py:if="time == 0"><div>${s}</div></span>
    </div>
</body>
</html>
